<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <h3>Khóa học đã xóa</h3>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      <select class="form-select-sm ms-3 me-3 pe-1" name="action" aria-label="Default select example" required>
        <option value="">--Hành động--</option>
        <option value="deleteForce">Xóa vĩnh viễn</option>
        <option value="restore">Khôi phục</option>
      </select>
      <button class="btn btn-primary btn-sm btn-check-all-submit disabled">Thực hiện</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col">Video ID</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                  </div>
                </td>
                {{!-- Index auto increase --}}
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.deletedAt}}</td>
                <td>{{this.videoId}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id="{{this._id}}">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                  Dữ liệu trống
                  <a href="/me/stored/courses">Danh sách khóa học</a>
              </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete --}}
<div class="modal" id="delete-course-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa bỏ khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const formConfirm = document.querySelector('#delete-course-modal')
    const btnDeleteCourse = document.querySelector('#btn-delete-course')
    const deleteForm = document.forms['delete-course-form']
    const containerForm = document.forms['container-form']
    const restoreForm = document.forms['restore-course-form']
    const btnRestore = document.querySelectorAll('.btn-restore')
    const checkboxAll = document.querySelector('#checkbox-all')
    const courseItemCheckbox = $('input[name="courseIds[]"]')
    const btnCheckAllSubmit = $('.btn-check-all-submit')

    let courseId
    formConfirm.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        courseId = button.getAttribute('data-id')
    })

    btnDeleteCourse.onclick = function () {
        //alert(courseId)
        deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
        deleteForm.submit()
    }

    // Restore button click
    btnRestore.forEach( restore => {
        restore.addEventListener('click', function (e) {
            e.preventDefault()
            const courseId = restore.getAttribute('data-id')
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
            restoreForm.submit()
        })
    })

    // Checkbox all items changed
    checkboxAll.onchange  = function () {
      const isCheckboxAll = $(this).prop('checked')
      courseItemCheckbox.prop('checked', isCheckboxAll)
      renderCheckAllSubmitBtn()
    }

    // Course item checkbox changed
    courseItemCheckbox.change(function () {
      const isCheckboxAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
      $(checkboxAll).prop('checked', isCheckboxAll)
      renderCheckAllSubmitBtn()
    })

    // Button check all submit [click]
    btnCheckAllSubmit.on('submit', function (e) {
      // Check submittable
      const isSubmittable = $(this).hasClass('disabled')
      if (isSubmittable) {
        e.preventDefault()
      }
    })

    // Re-render check all submit button
    function renderCheckAllSubmitBtn() {
      const checkedCount = $('input[name="courseIds[]"]:checked').length
      console.log(checkedCount)
      if (checkedCount > 0) {
        btnCheckAllSubmit.removeClass('disabled')
      } else {
        btnCheckAllSubmit.addClass('disabled')
      }
    }
  })
</script>